body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: #d8dad3;
    
  }
  
  .top-container {
    background-color: #100007;
    /* background-image: url('../images/musicans_wordcloud.png'); */ */
    background-position: center;
    background-size: contain;
    padding: 1px;
    text-align: center;
    overflow-x: hidden; /* Hide horizontal scrollbar */
  }
  
  .header {
    padding: 5px 8px;
    padding-left: 50px;
    background: #100007;
    color: #6d696a;
    text-align: justify;
    font-family: Noto;
    letter-spacing: 3px;
  }
  
  .content {
    padding: 16px;
    max-width: 800px;
    margin: auto;
    color: black;
    background: #f1f2eb;
    box-shadow: 0 0px 16px 0 rgba(0, 0, 0, 0.1);
  }

  .footer {
    padding: 16px;
    max-width: 800px;
    margin: auto;
    color: #d8dad3;
    background: #100007;
    box-shadow: 0 0px 16px 0 rgba(0, 0, 0, 0.1);
    text-align: center;
  }

  .sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }
  
  .sticky + .content {
    padding-top: 102px;
  }

  .task-container {
    display: flex;
    justify-content: center;
  }

  .bubbles {
    stroke-width: 1px;
    stroke: #6d696a;
    opacity: .8
  }
  .bubbles:hover {
    stroke: #100007;
  }

  .node rect {
    cursor: move;
    fill-opacity: .9;
    shape-rendering: crispEdges;
  }
  
  .node text {
    pointer-events: none;
    text-shadow: 0 1px 0 #fff;
  }
  
  .link {
    fill: none;
    stroke: #000; 
    stroke-opacity: .2;
  }
  
  .link:hover {
    stroke-opacity: .5;
  }