body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: #d8dad3;
  }
  
  .top-container {
    background-color: #f1f2eb;
    background-image: url('../images/musicans_wordcloud.png');
    background-position: center;
    background-size: contain;
    padding: 100px;
    text-align: center;
  }
  
  .header {
    padding: 10px 16px;
    padding-left: 50px;
    background: #100007;
    color: #d8dad3;
    text-align: justify;
  }
  
  .content {
    padding: 16px;
    max-width: 800px;
    margin: auto;
    color: black;
    background: #f1f2eb;
    box-shadow: 0 0px 16px 0 rgba(0, 0, 0, 0.1);
  }

  .footer {
    padding: 16px;
    max-width: 800px;
    margin: auto;
    color: #d8dad3;
    background: #100007;
    box-shadow: 0 0px 16px 0 rgba(0, 0, 0, 0.1);
    text-align: center;
  }

  .sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }
  
  .sticky + .content {
    padding-top: 102px;
  }