<!-- <footer class="site-footer"> -->
  <div id="F_container">
    <div id="left">
      <h6>Useful Links</h6>
      <a href="https://d3-graph-gallery.com/">D3.js</a>
      <a href="http://bl.ocks.org/XavierGimenez/8070956">Waffle Chart's code</a>
      <a href="https://github.com/edo-pasto/edo-pasto.github.io.git">Project's GitHub repo</a>
    </div>
    <div id="right">
      <h6>Quick Links</h6>
      <a href="index.html">Home</a></li>
      <a href="assignment1.html">Assignment 1</a></li>
      <a href="assignment2.html">Assignment 2</a></li>
      <a href="assignment3.html">Assignment 3</a></li>
      <a href="assignment4.html">Assignment 4</a></li>
      <a href="assignment5.html">Assignment 5</a></li>
    </div>
    <div id="down">
      <p class="copyright-text">Copyright &copy; 2022 All Rights Reserved by
        <a href="#">MammaMia!</a>
    </div>
   
  </div>
  <!-- <div class="w3-container">
    <div class="row">
      <div class="w3-third">
        <h6>Useful Links</h6>
        <ul class="footer-links">
          <li><a href="https://d3-graph-gallery.com/">D3.js</a></li>
          <li><a href="http://bl.ocks.org/XavierGimenez/8070956">Waffle Chart's code</a></li>
          <a href="https://github.com/edo-pasto/edo-pasto.github.io.git">Project's GitHub repo</a>
        </ul>
      </div>

      <div class="w3-third">
        <h6>Quick Links</h6>
        <ul class="footer-links">
          <li><a href="index.html">Home</a></li>
          <li><a href="assignment1.html">Assignment 1</a></li>
          <li><a href="assignment2.html">Assignment 2</a></li>
          <li><a href="assignment3.html">Assignment 3</a></li>
        <!-- </ul> -->
      <!-- </div> -->
    <!-- </div> -->
    <!-- <hr> -->
  <!-- </div>
  <div class="w3-container">
    <div class="row">
      <div class="col-md-8 col-sm-6 col-xs-12">
    
        </p>
      </div>
    </div>
  </div> -->
<!-- </footer> -->