body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: #d8dad3;
    
  }

h2 {
  font-family: Noto;
  color: #100007;
  text-align: center;
}

h3 {
  font-family: Noto;
  color: #100007;
  text-align: center;
  margin-bottom: 0px;
  padding-bottom: 0px;
  padding-top: 15px;
}
  .top-container {
    background-color: #100007;
    /* background-image: url('../images/musicans_wordcloud.png');  */
    background-position: center;
    background-size: contain;
    padding: 1px;
    text-align: center;
    /* overflow-x: hidden; */
  }
  
  .header {
    padding: 5px 8px;
    padding-left: 50px;
    background: #100007;
    color: #6d696a;
    text-align: justify;
    font-family: Noto;
    letter-spacing: 3px;
  }
  
  .content {
    padding: 16px;
    max-width: 800px;
    margin: auto;
    color: black;
    background: #f1f2eb;
    box-shadow: 0 0px 16px 0 rgba(0, 0, 0, 0.1);
  }

  .mypg {
    line-height: 150%;
    text-align: justify;
    padding: 0px 15px 0px 15px;
    /* font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif */
    font-family:Georgia, 'Times New Roman', Times, serif
  }

  .footer {
    padding: 16px;
    max-width: 800px;
    margin: auto;
    color: #d8dad3;
    background: #100007;
    box-shadow: 0 0px 16px 0 rgba(0, 0, 0, 0.1);
    text-align: center;
  }

  .sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }
  
  .sticky + .content {
    padding-top: 102px;
  }

  .task-container {
    display: flex;
    justify-content: center;
  }

  .bubbles {
    stroke-width: 1px;
    stroke: #6d696a;
    opacity: .8
  }
  .bubbles:hover {
    stroke: #100007;
  }

  .node rect {
    cursor: move;
    fill-opacity: .9;
    shape-rendering: crispEdges;
  }
  
  .node text {
    pointer-events: none;
    text-shadow: 0 1px 0 #fff;
  }
  
  .link {
    fill: none;
    stroke: #000; 
    stroke-opacity: .2;
  }
  
  .link:hover {
    stroke-opacity: .5;
  }

  .column {
    float: left;
    width: 15%;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

svg {
  padding: 0px;
}

.collapsible {
	cursor: pointer;
  font-family: Noto;
	padding: 18px;
	width: 100%;
	border: none;
	text-align: left;
	outline: none;
	font-size: 20px;
	font-weight: bolder;
	margin-right: 10%;
  background-color: #d8dad3;
  color: #100007;
}

.collapseactive, .collapsible:hover {
	background-color: #6d696a;
}

.collapsible:after {
	content: '\002B';
	color: #100007;
	font-weight: bold;
	float: right;
	margin-left: 5px;
}

.collapseactive:after {
	content: "\2212";
}
 

.collabsiblecontent {
	font-family: Lucida Sans Unicode;
	padding: 0 18px;
	text-align: justify;
	max-height: 0;
	overflow: hidden;
	transition: max-height 0.2s ease-out;
	background-color: #d8dad3;
}